body {
  background-color: rgb(183, 233, 249);
  color: black;
  text-align: center;
  padding-top: 0;
  margin: 0;
}

.top-section {
  background-color: rgb(254, 254, 254);
  padding: 90px;
  position: relative;
  z-index: 1;
}

.middle-section {
  padding: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.bottom-section {
  background-color: rgb(248, 248, 248);
  padding: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  opacity: 0.6;
  position: relative;
  z-index: 1;
}

.photo-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  z-index: 2;
}

.photo-container img {
  width: 300px;
  height: 200px;
  margin: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 5px solid white;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(hai.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.student-info {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
